<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j" status="info">
       <Appenders>
             <Console name="Console" target="SYSTEM_OUT">
                    <PatternLayout pattern="%d{HH:mm:ss} %-5p [%-25t] (%F:%L) : %m  %n" />
             </Console>
             <File name="File" fileName="linkinspect.log" immediateFlush="true"
                    append="false">
                    <PatternLayout pattern="%d{HH:mm:ss} %-5p [%-25t] (%F:%L) : %m  %n" />
             </File>
       </Appenders>
       <Loggers>
             <Root level="DEBUG">
                    <Appender-Ref ref="File" level="INFO" />
                    <Appender-Ref ref="Console" level="WARN" />
             </Root>  
       </Loggers>
</Configuration>
